body {
    /*width: 80vh;*/
    background-color: #f2f2f2;
    padding: 20px;
    margin: 25px 50px 75px 100px;
}
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    font-size: large;
}